.generator-container {
  text-align: center;
  margin: 1.25rem auto;
  padding: 2rem 1.25rem 1.5rem 1.25rem;
}

.column {
  display: inline-block; /* Display content on rows */
  width: 45%;
}

.password-options {
  text-align: left;
  margin: 1.25rem 0;
  padding: 0.65rem 0;
  color: var(--color-grey-dark);
  border-bottom: 1px solid var(--color-grey);
}

.password-options label {
  display: block;
  margin-bottom: 0.65rem;
}

.length-input {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-grey-dark);
  width: 100%;
  box-shadow: 0 2px 5px var(--color-grey-dark);
}

.length-input input {
  margin-left: 1rem;
  padding: 0.5rem 0.1rem 0.5rem;
  border-radius: 8px;
  color: var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 2px 5px var(--color-shadow);
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;
  width: 28%;
}

.length-input input:focus {
  box-shadow: 0 0 10px var(--color-tint);
}

.length-display {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-accent);
  width: 2rem; /* So it does not fluctuate upon change causing the entire line to shake */
}

.generated-password {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  font-size: 1.2rem;
  color: var(--color-grey-dark);
}

.generated-password textarea {
  margin-top: 1.25rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: var(--color-white);
  box-shadow: 0 2px 5px var(--color-shadow);
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;
  height: 3rem;
  resize: none;
}

.generated-password textarea:focus {
  box-shadow: 0 0 10px var(--color-tint);
}

/* removing the scrollbar */
.generated-password textarea::-webkit-scrollbar {
  display: none;
}

.password-textarea {
  padding: 0.5rem;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  color: var(--color-accent);
  width: 100%;
  cursor: text;
  resize: none; /* Prevent resizing via mouse drag*/
  white-space: nowrap; /* Prevent content from wrapping */
  user-select: all; /* Allow content selection */
}

.tickLabels {
  font-weight: bold;
  color: var(--color-grey-dark);
}
